.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 10vh;
  text-align: center
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}